.fc-highlight {
    background-color: rgb(7, 244, 7) !important; /* Màu nền vùng chọn */
    border: 1px dashed #e3f858; /* Đường viền vùng chọn */
    opacity: 0.35;
}
.fc-timegrid-slot-past {
    background-color: #302d2d; /* Màu xám nhạt */
    opacity: 0.1;
}

.tooltip-content h3 {
    color: red;
    text-align: center;
    margin: 0;
}

.tooltip-content strong {
    text-align: center;
    display: block;
    margin: auto;
}