<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - User Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_panel.css') }}">
    <style>

    </style>
</head>
<body>
    <header>
        <h1>Administrator Panel</h1>
    </header>
    <div class="container">
        <button id="addUserBtn" class="btn add" >Add User</button>
    <h2 style="margin-top: auto; margin-bottom: auto; text-align: center">User Management</h2>
        <button class="btn back" onclick="window.location.href='{{ url_for('index') }}'">Back</button>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="userTable">
                <!-- Example rows -->
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <input type="text" id="firstname-{{ user.user_id }}" name="firstname" value="{{ user.firstname }}">
                </td>
                <td>
                    <input type="text" id="lastname-{{ user.user_id }}" name="lastname" value="{{ user.lastname }}">
                </td>
                <td>
                    <input type="email" id="email-{{ user.user_id }}" name="email" value="{{ user.email }}">
                </td>
                <td>
                    <select id="role-{{ user.user_id }}" name="role">
                        <option value="User" {% if user.role == "User" %}selected{% endif %}>User</option>
                        <option value="Administrator" {% if user.role == "Administrator" %}selected{% endif %}>Administrator</option>
                    </select>
                </td>
                <td>
                    <input type="password" id="password-{{ user.user_id }}" name="password" value="{{ user.password }}" onclick="togglePassword({{ user.user_id }})"
                            onblur="hidePassword({{ user.user_id }})">
                </td>
                <td>
                    <button
                        id="status-btn-{{ user.user_id }}"
                        class="btn status"
                        onclick="toggleStatus({{ user.user_id }}, '{{ user.user_status }}')"
                        style="padding: 5px 10px; border: none; {% if user.role == "Administrator" and user.username != "root" %}cursor: not-allowed;{% else %} cursor: pointer; {% endif %}background-color: {{ 'green' if user.user_status == 'Active' else 'red' }}; color: white;"
                        {% if user.role == "Administrator" and user.username != "root" %} disabled {% endif %}
                    >
                        {{ user.user_status }}
                    </button>
                </td>
                <td>
                    <button class="btn edit" onclick="saveUser({{ user.user_id }})">Save</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <!-- Điều hướng phân trang người dùng -->
    <div style="text-align: center; margin-top: 10px;">
        {% if user_pagination.has_prev %}
        <a href="{{ url_for('user.admin_panel', user_page=user_pagination.prev_num, booking_page=booking_pagination.page, search=request.args.get('search', '')) }}">Previous</a>
        {% endif %}
        Page {{ user_pagination.page }} of {{ user_pagination.pages }}
        {% if user_pagination.has_next %}
        <a href="{{ url_for('user.admin_panel', user_page=user_pagination.next_num, booking_page=booking_pagination.page, search=request.args.get('search', '')) }}">Next</a>
        {% endif %}
    </div>
    <div class="booking-management">
        <h2 style="margin-top: 15px; margin-bottom: auto; text-align: center">Booking Management</h2>
        <div class="searchBox">
            <button id="btnCalendar" style="padding: 8px; cursor: pointer;">📅</button>
            <input type="text" name="search" id="txtSrcBox" placeholder="Type here to search date.." value="{{ search_query }}"/>
            <button name="srcBtn" id="srcBtn" onclick="searchBooking()">Search </button>
        </div>
        <table style="width: 100%; border-collapse: collapse;border: 1px solid beige">
            <thead>
                <tr>
                    <th>ID
                        <a href="{{ url_for('user.admin_panel', sort_by='booking_id', sort_order='asc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬆️</a>
                        <a href="{{ url_for('user.admin_panel', sort_by='booking_id', sort_order='desc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬇️</a>
                    </th>
                    <th>Booking Name
                        <a href="{{ url_for('user.admin_panel', sort_by='booking_name', sort_order='asc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬆️</a>
                        <a href="{{ url_for('user.admin_panel', sort_by='booking_name', sort_order='desc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬇️</a>
                    </th>
                    <th>Department
                        <a href="{{ url_for('user.admin_panel', sort_by='department', sort_order='asc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬆️</a>
                        <a href="{{ url_for('user.admin_panel', sort_by='department', sort_order='desc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬇️</a>
                    </th>
                    <th>Chairman</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Reservation Date
                        <a href="{{ url_for('user.admin_panel', sort_by='reservation_date', sort_order='asc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬆️</a>
                        <a href="{{ url_for('user.admin_panel', sort_by='reservation_date', sort_order='desc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬇️</a>
                    </th>
                    <th>Room
                        <a href="{{ url_for('user.admin_panel', sort_by='room_name', sort_order='asc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬆️</a>
                        <a href="{{ url_for('user.admin_panel', sort_by='room_name', sort_order='desc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬇️</a>
                    </th>
                    <th>User Booking
                        <a href="{{ url_for('user.admin_panel', sort_by='username', sort_order='asc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬆️</a>
                        <a href="{{ url_for('user.admin_panel', sort_by='username', sort_order='desc', booking_page=booking_pagination.page, user_page=user_pagination.page, search=request.args.get('search', '')) }}">⬇️</a>
                    </th>
                    <th>isDeleted</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.booking_id }}</td>
                    <td>{{ booking.booking_name }}</td>
                    <td>{{ booking.department }}</td>
                    <td>{{ booking.chairman }}</td>
                    <td>{{ booking.start_time }}</td>
                    <td>{{ booking.end_time }}</td>
                    <td>{{ booking.reservation_date }}</td>
                    <td>{{ booking.room_name }}</td>
                    <td>{{ booking.username }}</td>
                    <td>
                        <button
                            class="btn-status"
                            style="background-color: {% if booking.isDeleted %}red{% else %}green{% endif %}; color: white; padding: 5px 10px; border: none; cursor: pointer;"
                            onclick="toggleStatusDeleted({{ booking.booking_id }}, {{ booking.isDeleted | tojson }})">
                            {% if booking.isDeleted %}True{% else %}False{% endif %}
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Điều hướng phân trang booking -->
        <div style="text-align: center; margin-top: 10px;">
            <!-- Nút First -->
            {% if booking_pagination.page > 1 %}
                <a href="{{ url_for('user.admin_panel', booking_page=1, user_page=user_pagination.page, search=request.args.get('search', '')) }}">First</a>
            {% endif %}
            {% if booking_pagination.has_prev %}
                <a href="{{ url_for('user.admin_panel', booking_page=booking_pagination.prev_num, user_page=user_pagination.page, search=request.args.get('search', '')) }}">Previous</a>
            {% endif %}
            Page {{ booking_pagination.page }} of {{ booking_pagination.pages }}
            {% if booking_pagination.has_next %}
                <a href="{{ url_for('user.admin_panel', booking_page=booking_pagination.next_num, user_page=user_pagination.page, search=request.args.get('search', '')) }}">Next</a>
            {% endif %}
        <!-- Nút Last -->
            {% if booking_pagination.page < booking_pagination.pages %}
                <a href="{{ url_for('user.admin_panel', booking_page=booking_pagination.pages, user_page=user_pagination.page, search=request.args.get('search', '')) }}">Last</a>
            {% endif %}
        </div>
    </div>
    <button id="addMeetingBtn" class="btn add" >Add Meeting</button>
    <h2 style="margin-top: 15px; margin-bottom: auto; text-align: center">Meeting Management</h2>
    <table border="1" style="width: 100%; border-collapse: collapse; border: 1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Meeting</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for name in names %}
            <tr>
                <td>{{ name.name_id }}</td>
                <td>{{ name.booking_name }}</td>
                <td>
                    <textarea
                        style="width: 90%;"
                        id="description-{{ name.name_id }}"
                        name="description"
                        rows="2"
                    >{{ name.description }}</textarea>
                </td>
                <td>
                    <button
                        class="btn-status" id="meeting-status-btn-{{ name.name_id }}"
                        onclick="toggleMeetingStatus({{ name.name_id }}, {{ name.isActive|lower }})"
                        style="background-color: {% if name.isActive %}green{% else %}red{% endif %}; color: white; padding: 5px 10px; border: none; cursor: pointer;"
                    >
                        {% if name.isActive %}Active{% else %}Inactive{% endif %}
                    </button>
                </td>
                <td>
                    <button class="btn edit" onclick="saveMeeting({{ name.name_id }})">Save</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Pagination Controls for Booking Name -->
    <div style="text-align: center; margin-top: 10px;">
        <!-- Nút First -->
        {% if name_pagination.page > 1 %}
            <a href="{{ url_for('user_bp.admin_panel', name_page=1, user_page=user_pagination.page, booking_page=booking_pagination.page, search=request.args.get('search', '')) }}">First</a>
        {% endif %}
        {% if name_pagination.has_prev %}
            <a href="{{ url_for('user_bp.admin_panel', name_page=name_pagination.prev_num, user_page=user_pagination.page, booking_page=booking_pagination.page, search=request.args.get('search', '')) }}">Previous</a>
        {% endif %}
        Page {{ name_pagination.page }} of {{ name_pagination.pages }}
        {% if name_pagination.has_next %}
            <a href="{{ url_for('user_bp.admin_panel', name_page=name_pagination.next_num, user_page=user_pagination.page, booking_page=booking_pagination.page, search=request.args.get('search', '')) }}">Next</a>
        {% endif %}
        <!-- Nút Last -->
        {% if name_pagination.page < name_pagination.pages %}
            <a href="{{ url_for('user_bp.admin_panel', name_page=name_pagination.pages, user_page=user_pagination.page, booking_page=booking_pagination.page, search=request.args.get('search', '')) }}">Last</a>
        {% endif %}
    </div>
    <div id="userFormPopup" class="popup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <form id="addUserForm" method="POST">
                <label for="username">Username (required):</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="role">Role:</label>
                {% if 'role' in session and session['role'] == 'Administrator' %}
                <select id="role" name="role">
                    <option value="User" selected>User</option>
                    <option value="Administrator">Administrator</option>
                </select>
                {% else %}
                <input type="hidden" name="role" value="User">
                <p>Role: User (default)</p>
                {% endif %}

                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname">

                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname">

                <button type="button" onclick="submitUserForm()">Register</button>
            </form>
        </div>

    </div>
    <div id="meetingFormPopup" class="popup">
        <div class="popup-content">
                <button class="close-btn" onclick="closePopup()">✖</button>
            `   <h2>Create Meeting</h2>
                <form id="meetingForm" method="post">
                    <label for="meetingTitle">Meeting Title:</label>
                    <input type="text" id="meetingTitle" name="meetingTitle" placeholder="Enter title" required style="width: 100%; padding: 8px; margin-bottom: 10px;">

                    <label for="description">Description:</label>
                    <textarea id="description" name="description" placeholder="Enter meeting description" rows="3" style="width: 100%; padding: 8px; margin-bottom: 10px;"></textarea>

                    <button type="button" class="btn" onclick="submitMeetingForm()">Save</button>
                </form>
        </div>
    </div>
</div>
<!-- Bảng lịch ẩn -->
<div id="calendarContainer" style="display: none; position: absolute; z-index: 1000; background: white; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
    <div id="calendar"></div>
</div>
    <script>

    </script>
<script src="{{ url_for('static', filename='js/user_management.js') }}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>
